h1{
    font-family:'Satisfy';
    text-align: center;
    font-size: 75px;
    color: yellow;
}

body {
    background-color: purple;
    background-image: linear-gradient(purple, black, green);
    background-repeat: no-repeat;
    color: white;
    font-family: 'Lucida Sans';
    font-size: 18px; 
  }

img {
    border-radius: 50%;
  }
 a{ color: yellow;
    font-size: 20px;
    list-style-type: style block; 
    
}